{% extends "layouts/main_base.html" %}

{% block title %} Cancel Refund {% endblock %}

{% block content %}
<main style="padding: 50px; font-family: Arial, sans-serif;">
    <!-- <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; text-align: center;">
        <h1 style="font-size: 1.8rem; margin: 0; color: white;">CANCELLATION ON REFUND POLICY</h1>
    </div> -->
    <section>
        <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; display: inline-block;">
            <h1 style="font-size: 2rem; margin: 0; color: white; font-family: 'boxicons';">CANCELLATION AND EARLY CHECKOUT POLICY</h1>
        </div>
        <ul style="font-size: 1rem; line-height: 1.6; margin-top: 20px;">
            <li>We have a 7-day return policy, which means you have 7 days after receiving your item to request a return.</li>
            <li>To be eligible for a return, your item must be in the same condition that you received it, unworn or unused, with tags, and in its original packaging. You will also need the receipt or proof of purchase.</li>
            <li>To start a return, you can contact us at <a href="mailto:{{email}}">{{email}}</a>.</li>
            <li>If your return is accepted, we'll send you a return shipping label, as well as instructions on how and where to send your package.</li>
        </ul>
    </section>

    <section style="margin-top: 40px;">
        <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; display: inline-block;">
            <h2 style="font-size: 1.8rem; margin: 0; color: white; font-family: 'boxicons';">Damages and issues</h2>
        </div>
        <ul style="font-size: 1rem; line-height: 1.6; margin-top: 20px;">
            <p>Please inspect your order upon reception and contact us immediately if the item is defective, damaged or if you receive the wrong item, so that we can evaluate the issue and make it right.
            </p>
        </ul>
    </section>


    <section style="margin-top: 40px;">
        <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; display: inline-block;">
            <h2 style="font-size: 1.8rem; margin: 0; color: white; font-family: 'boxicons';">Exceptions / non-returnable items</h2>
        </div>
        <ul style="font-size: 1rem; line-height: 1.6; margin-top: 20px;">
            <p>Certain types of items cannot be returned, like perishable goods (such as food, flowers, or plants), custom products (such as special orders or personalized items), and personal care goods (such as beauty products). We also do not accept returns for hazardous materials, flammable liquids, or gases. Please get in touch if you have questions or concerns about your specific item.
            </p>
            <p>Unfortunately, we cannot accept returns on sale items or gift cards.</p>
        </ul>
    </section>


    <section style="margin-top: 40px;">
        <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; display: inline-block;">
            <h2 style="font-size: 1.8rem; margin: 0; color: white; font-family: 'boxicons';">Exchanges</h2>
        </div>
        <ul style="font-size: 1rem; line-height: 1.6; margin-top: 20px;">
            <p>The fastest way to ensure you get what you want is to return the item you have, and once the return is accepted, make a separate purchase for the new item.</p>
        </ul>
    </section>

    <section style="margin-top: 40px;">
        <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; display: inline-block;">
            <h2 style="font-size: 1.8rem; margin: 0; color: white; font-family: 'boxicons';">Refunds</h2>
        </div>
        <ul style="font-size: 1rem; line-height: 1.6; margin-top: 20px;">
            <p>We will notify you once weíve received and inspected your return, and let you know if the refund was approved or not. If approved, youíll be automatically refunded on your original payment method within 10 business days. Please remember it can take some time for your bank or credit card company to process and post the refund too.</p>
            <p>If more than 15 business days have passed since weíve approved your return, please contact us at {{email}}.</p>
        </ul>
    </section>


    <!-- Add more sections as needed -->
</main>



<!-- FOOTER -->
{% extends "includes/main_footer.html" %}



{% endblock %}

