{% extends "layouts/main_base.html" %}

{% block title %} Cancel Refund {% endblock %}

{% block content %}
<main style="padding: 50px; font-family: Arial, sans-serif;">
    <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; text-align: center;">
        <h1 style="font-size: 1.8rem; margin: 0; color: white;">CANCELLATION ON REFUND POLICY</h1>
    </div>
    <section>
        <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; width: 620px;">
            <h1 style="font-size: 2rem; margin: 0; color: white; font-family: 'boxicons';">CANCELLATION AND EARLY CHECKOUT POLICY</h1>
        </div>
        <ul style="font-size: 1rem; line-height: 1.6; margin-top: 20px;">
            <li>The modification/cancellation request for bookings made online will be processed automatically through the Internet Booking Engine. Any refund due shall be done through the system in accordance with the applicable modification/cancellation rules.</li>
            <li>In case of rebooking, a rate difference may be payable for the change as per the rate applicable for the rebooked date/ room type and subject to availability.</li>
            <li>Certain privileged booking rates or special offers are not eligible for cancellation, refund or any change. The Customer is therefore advised to check the room description and any such conditions carefully prior to making a booking. Hotel shall not be liable to cancel or refund any monies or alter any bookings if booking is made under such privileged booking rates or special offers.</li>
            <li>Any additional charges or rate difference for the modified reservation can be paid through the same payment mode/card as used for original reservation.</li>
            <li>Please note that if an online booking is modified or cancelled with the hotel’s reservations Office/ Hotel’s sales office, it cannot be further modified or cancelled online.</li>
            <li>In case of early checkout, you are liable to pay for the entire confirmed reservation. If not sure of the policy, contact the hotel for clarification.</li>
        </ul>
    </section>

    <section style="margin-top: 40px;">
        <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; width: 620px">
            <h2 style="font-size: 1.8rem; margin: 0; color: white; font-family: 'boxicons';">REFUND POLICY</h2>
        </div>
        <ul style="font-size: 1rem; line-height: 1.6; margin-top: 20px;">
            <li>Upon cancellation of booking, the refund of the booking amount will be initiated. The booking amount after deduction of cancellation charges and taxes, as applicable, will be credited into the bank account of the Customer using the same payment mode (i.e. debit card/ credit card/ net-banking and any electronic mode) by which the booking was made by the Customer. The refund process may take 10-15 business days.</li>
            <li>In case the booking amount is paid using credit card, the refund will be processed on the credit card.</li>
            <li>On cancellation of refundable booking the refund processing will take time between two(2)-to four(4) weeks to show refund back on your credit card statement. Reasons for the specified processing time are based on billing cycle of your credit card company and processing time of the bank. The refund depends on numerous factors such as the hotel's cancellation policy, time of cancellation and processing fees etc.</li>
            <li>In case the reservation is not confirmed, we will not charge you anything on your credit card and release the whole amount if any that was held on it immediately. Now after we do this, it will still take two(2) to four(4) weeks for the bank to process the refund and to show the refunded amount on your credit card.</li>
            <li>If you fail to arrive at the hotel on the arrival date the entire reservation will be cancelled automatically by the hotels and will be charged for the entire reservation.</li>
            <li>If you fail to check in on the first date but still continue your travel plan to stay at the hotel, please, urgently, contact us to keep the room for you for the rest of the nights. Otherwise as mentioned above, the entire reservation will be auto-cancelled and no refund admissible.</li>
        </ul>
    </section>

    <!-- Add more sections as needed -->
</main>




<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #3f51b5">
    <!-- Grid container -->
    <div class="container">
        <!-- Section: Links -->
        <section class="mt-5">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
            <!-- Grid column -->
            <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
                <a href="{% url 'stores:contact_us' %}" class="text-white">Contact us</a>
            </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
                <a href="{% url 'stores:terms_and_conditions' %}" class="text-white">Terms & Conditions</a>
            </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
                <a href="{% url 'stores:shipping_policy' %}" class="text-white">Shipping Policy</a>
            </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
                <a href="{% url 'stores:privacy_policy' %}" class="text-white">Privacy Policy</a>
            </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
                <a href="{% url 'stores:cancel_refund' %}" class="text-white">Cancel Refund Policy</a>
            </h6>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="my-5" />

        <!-- Section: Social -->
        <section class="text-center mb-5">
        <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
        </a>
        </section>
        <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->

{% endblock %}

