{% extends "layouts/main_base.html" %} {% block title %} Home {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/css/foods/style.css">
<link rel="stylesheet" href="/static/css/foods/categories.css">
<link rel="stylesheet" href="/static/css/foods/item.css">
<link rel="stylesheet" href="/static/css/foods/float_cart.css"
/>
<link rel="stylesheet" href="/static/css/foods/cart.css"> {% endblock stylesheets %} {% block content %}

<section class="main-section">
    <div class="response"></div>
    <!-- user confirmation -->
    <div class="modal fade" id="asktheuser" tabindex="-1" aria-labelledby="asktheuserLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="asktheuserLabel">Select the payment mode</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="cod" checked>
                            <label class="form-check-label" for="cod">
                              Cash On Delivery
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="online">
                            <label class="form-check-label" for="online">
                              Online
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="proceedPayment()">Proceed</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="asktheuserdetails" tabindex="-1" aria-labelledby="asktheuserdetailsLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="asktheuserdetailsLabel">Enter your details</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="username" class="form-label">Name</label>
                            <input type="text" class="form-control" id="username">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="tel" class="form-control" id="phone">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <textarea class="form-control" id="address"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="createPayment()">Proceed</button>
            </div>
        </div>
        </div>
    </div>

    <ul class="categories">
        {%if sub_categories|length > 0 %}
        <!--Main Category-->
        {%for sub_category in sub_categories%}
        <li class="{%if request.GET.sub_category == sub_category.name %}active{%endif%}">
            <a href="?category={{sub_category.category.name|urlencode}}&sub_category={{sub_category.name|urlencode}}">{{sub_category.name}}</a>
        </li>
        {%endfor%}
        <!--Sub Category-->
        {%else%} {%for category in categories%}
        <li class="{%if request.GET.category == category.name %}active{%endif%}">
            <a href="?category={{category.name|urlencode}}">{{category.name}}</a>
        </li>
        {%endfor%} {%endif%}
    </ul>
    {%for categoriesItems in items%}
    <h4 class="category">{{categoriesItems.category}}</h4>
    <div class="products">
        {%for item in categoriesItems.items%}
        <div class="product item-{{item.id}}" name="item">
            <div class="select-product" data-bs-toggle="modal" data-bs-target="#add-to-cart-{{item.id}}"></div>
            <div class="image">
                <a href="#/store/{{room_number}}/foods/{{item.id}}/"><img loading="lazy" src="{{item.image}}" alt="{{item.title}}" /></a>
            </div>

            <div class="content">
                <p class="product_name">{{item.title}}</p>
                {% with item.prices|first as price %}
                {%if price.sell_price%}
                <p class="product_price"><span class="item_type {{item.item_type}}"></span> ₹ <strong>{{price.sell_price}}</strong> <del>{{price.price}}</del></p>
                {%else%}
                <p class="product_price"><span class="item_type {{item.item_type}}"></span> ₹ <strong>{{price.price}}</strong></p>
                {%endif%}
                {% endwith %}
            </div>
            <button class="cart-view" data-bs-toggle="modal" data-bs-target="#add-to-cart-{{item.id}}"><i class="bi bi-plus-circle"></i></button>
            <!-- Modal -->
            <div class="modal fade" id="add-to-cart-{{item.id}}" tabindex="-1" aria-labelledby="add-to-cart" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{item.title}}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="item-section item-{{item.id}}">
                                <div class="image">
                                    <img loading="lazy" src="{{item.image}}" alt="{{item.title}}" />
                                </div>

                                <div class="item-details">
                                    <h4 class="product_name">{{item.title}}</h4>
                                    <p class="product_price">
                                        <h5><b>Prices:</b> </h5>
                                        <div class="row prices-box">
                                            {%for price in item.prices%}
                                            <div class="form-check col">
                                                <input class="form-check-input price-input price-input-{{item.id}}" type="radio" name="price" id="price-{{price.id}}" value="{{price.id}}" price="{{price.price}}" sell_price="{{price.sell_price}}" {%if price == item.prices.0%}checked{%endif%}>
                                                {%if price.sell_price%}
                                                <label class="form-check-label" for="price-{{price.id}}">₹ {{price.name}} {{price.sell_price}} <del>{{price.price}}</del></label>
                                                {%else%}
                                                <label class="form-check-label" for="price-{{price.id}}">₹ {{price.name}} {{price.price}}</label>
                                                {%endif%}

                                            </div>
                                            {%endfor%}
                                        </div>
                                    </p>
                                    <div class="product_quantity">
                                        <h5><b>Quantity: </b></h5>
                                        {% if item.quantity >= 1 %}
                                        <div class="quantity_box">
                                            <button type="button" class="minus" onclick="decrementQuantity('{{item.id}}')"><i class="bi bi-dash"></i></button>
                                            <input type="number" name="quantity" id="quantity-{{item.id}}" class="quantity" value="1" min="1" max="{{item.quantity}}">
                                            <button type="button" class="plus" onclick="incrementQuantity('{{item.id}}', '{{item.quantity}}')"><i class="bi bi-plus"></i></button>
                                        </div>
                                        {% else %}
                                        <p class="text-danger">Out of Stock</p>
                                        {% endif %}
                                    </div>
                                    <p class="product_price">
                                        <h5><b>Description: </b></h5>
                                        {{item.description}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            {% if item.quantity >= 1 %}
                                <button class="add-to-cart cart-btn" id="{{item.id}}" room_id="{{room_id}}" anonymous_user_id="{{anonymous_user_id}}" token="{{csrf_token}}">Add to Cart</button> 
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    {%endfor%}
    <!-- {{perms}}-->

    <aside id="cart-bar" class="cart-bar">

        <ul class="cart-nav cart-list" id="cart-nav">
            <h5>Cart</h5>
            {%for cart in cart_items%}
            <li id="cart-item-{{cart.id}}" cart_id="{{cart.id}}" class="cart">
                <div class="product-box">
                    <img src="{{cart.item.image}}" />
                    <div class="content">
                        <p class="name">{{cart.item.title}}</p>
                        <strong class="price">Price: ₹ {{cart.price}}  </strong>
                        <span class="quantity"> Qty: {{cart.quantity}}</span>
                    </div>
                </div>
                <span class="close delete-cart-item" id="{{cart.id}}" token="{{csrf_token}}"><i class="bi bi-x-lg"></i></span>
            </li>
            {%endfor%}
        </ul>
        <button class="place-order" room_id="{{room_id}}" data-bs-toggle="modal" data-bs-target="#asktheuser"><span class="checkout">Checkout</span> <span class="total_price">₹ {{total_price}}</span></button>
    </aside>

    <!-- Floating Cart Bar-->

    {% include "includes/float_cart.html" %}

    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="container my-5">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: #4154f1">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Links -->
            <section class="mt-5">
            <!-- Grid row-->
            <div class="row text-center d-flex justify-content-center pt-5">
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:contact_us' %}?room_id={{room_id}}" class="text-white">Contact us</a>
                </h6>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:terms_and_conditions' %}" class="text-white">Terms & Conditions</a>
                </h6>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:shipping_policy' %}" class="text-white">Shipping Policy</a>
                </h6>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:privacy_policy' %}" class="text-white">Privacy Policy</a>
                </h6>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:cancel_refund' %}" class="text-white">Cancel Refund Policy</a>
                </h6>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row-->
            </section>
            <!-- Section: Links -->
    
            <hr class="my-5" />
    
            <!-- Section: Social -->
            <section class="text-center mb-5">
            <a href="" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-instagram"></i>
            </a>
            </section>
            <!-- Section: Social -->
        </div>
        <!-- Grid container -->
    
        </footer>
        <!-- Footer -->
    </div>
    <!-- End of .container -->

</section>
{%endblock content%} {% block javascripts %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="/static/js/foods/outdoor_foods.js"></script>
<script>

    document.getElementById('back_btn_basehtml').style.display = 'None';
    function incrementQuantity(item_id, max_quantity) {
        const quantityInput = document.getElementById('quantity-' + parseInt(item_id));
        if (parseInt(quantityInput.value) < parseInt(max_quantity)) {
            quantityInput.value = parseInt(quantityInput.value) + 1;
        }
    }

    function decrementQuantity(item_id) {
        const quantityInput = document.getElementById('quantity-' + parseInt(item_id));
        if (parseInt(quantityInput.value) > 1) {
            quantityInput.value = parseInt(quantityInput.value) - 1;
        }
    }
</script>
<script>
    var selectedPaymentMode;
    $(document).ready(function() {
        $('.modal').on('shown.bs.modal', function() {
            $(this).find('.price-input:first').prop('checked', true);
        });
    });

    function fillUserDetails() {
        const username = localStorage.getItem("username");
        if (username) {
            document.getElementById('username').value = username;
        }
        const phone = localStorage.getItem("phone");
        if (phone) {
            document.getElementById('phone').value = phone;
        }
        const email = localStorage.getItem("email");
        if (email) {
            document.getElementById('email').value = email;
        }
        const address = localStorage.getItem("address");
        if (address) {
            document.getElementById('address').value = address;
        }        
    }

    function proceedPayment() {
        // Get the selected payment mode
        selectedPaymentMode = document.querySelector('input[name="flexRadioDefault"]:checked').id;
        // Perform logic based on the selected payment mode
        if (selectedPaymentMode === 'cod') {
            var ask_the_user_modal = new bootstrap.Modal(document.getElementById('asktheuser'));
            ask_the_user_modal.hide();
            fillUserDetails();
            var ask_the_user_details_modal = new bootstrap.Modal(document.getElementById('asktheuserdetails'));
            ask_the_user_details_modal.show();
        } else if (selectedPaymentMode === 'online') {
            // Handle Online payment logic
            var ask_the_user_modal = new bootstrap.Modal(document.getElementById('asktheuser'));
            ask_the_user_modal.hide();
            fillUserDetails();
            var ask_the_user_details_modal = new bootstrap.Modal(document.getElementById('asktheuserdetails'));
            ask_the_user_details_modal.show();
        } else {
            // Handle other cases if needed
            alert('Invalid payment mode');
        }
    }

    function codOrderPayment() {
        // Handle Cash On Delivery logic
        const roomId = '{{room_id}}';
        // const token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        $.ajax({
            headers: {
                'X-CSRFToken': '{{csrf_token}}',
            },
            type: 'POST',
            url: '/outdoor-order/',
            contentType: 'application/json',
            data: JSON.stringify({
                user: roomId,
                anonymous_user_id: "{{anonymous_user_id}}",
                name: document.getElementById('username').value,
                email: document.getElementById('email').value,
                phone: document.getElementById('phone').value,
                address: document.getElementById('address').value
            }),
            success: function (response) {
                $('.response')
                    .empty()
                    .show()
                    .html(
                    '<div class="alert alert-success" role="alert">Your order has been placed.</div>'
                    )
                    .delay(2000)
                    .fadeOut(500)
                $('.cart-icon span').text('0')
                $('.cart').remove()
                $('.total_price').text('₹ 0')
                console.log('Get data', response)
                location.href = '/outdoor_order_status/' + response.room_id + '/' + response.order_id + '/';
            },
            error: function (error) {
                $('.response')
                    .empty()
                    .show()
                    .html('<div class="alert alert-danger">' + error + '</div>')
                    .delay(1500)
                    .fadeOut(3000)
            },
        });
    }
    
    function createPayment() {
        // Get values from the input fields and textarea
        var username = document.getElementById('username').value;
        localStorage.setItem("username", username);
        var phone = document.getElementById('phone').value;
        localStorage.setItem("phone", phone);
        var address = document.getElementById('address').value;
        localStorage.setItem("address", address);
        var email = document.getElementById('email').value;
        localStorage.setItem("email", email);

        if (selectedPaymentMode === 'cod') {
            return codOrderPayment();
        }

        var data = {
            username: username,
            phone: phone,
            address: address,
            email: email,
            anonymous_user_id: "{{anonymous_user_id}}",
            user: "{{room_id}}"
        };
        // Fetch API POST request
        fetch('{% url "stores:create_payment_order" %}?cid={{razorpay_clientid}}&secret={{razorpay_clientsecret}}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{csrf_token}}'  // Replace with your actual CSRF token
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            // Handle the response data as needed
            if (data.status === true) {
                window.location.href = data.uri;
            } else {
                alert(`Sorry payment cannot proceed ${data.traceback}`);
            }
        })
        .catch(error => {
            alert(`Sorry payment cannot proceed ${error}`);
        });
    }

</script>
{% endblock javascripts %}