{% extends "layouts/main_base.html" %}

{% block title %} Privacy Policy {% endblock %}

{% block content %}
<main style="padding: 50px; font-family: Arial, sans-serif;">
    <section>
        <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; width: auto;">
            <h1 style="font-size: 2rem; margin: 0; color: white; font-family: 'boxicons';">COLLECTION OF PERSONAL INFORMATION</h1>
        </div>
        <ul style="font-size: 1rem; line-height: 1.6; margin-top: 20px;">
            <li>Information You Give Us: We receive and store any information you enter on our website or give us in any other way (e.g., at our outlets, stores, hotels).</li>
            <li>Automatic Information We Collect: We use “cookies”, pixels and similar technologies to receive and store certain types of information whenever you interact with us.</li>
            <li>We automatically collect some information when you visit our website or use our mobile application. This information helps us to make improvements to our content and navigation. The information collected automatically includes your IP address.</li>
            <li>Our web servers or affiliates who provide analytics and performance enhancement services collect IP addresses, operating system details, browsing details, device details and language settings. This information is aggregated to measure the number of visits, average time spent on the site, pages viewed and similar information. We uses this information to measure the site usage, improve content and to ensure safety and security, as well enhance performance of our website or mobile application.</li>
            <li>All standard policies pertaining to hotel/ hospitality industry are applicable, when specific reservation policy is not mentioned in the “Reservation Confirmation” document.</li>
        </ul>
    </section>

    <section style="margin-top: 40px;">
        <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; width: auto">
            <h2 style="font-size: 1.8rem; margin: 0; color: white; font-family: 'boxicons';">COOKIES AND OTHER TECHNOLOGIES</h2>
        </div>
        <ul style="font-size: 1rem; line-height: 1.6; margin-top: 20px;">
            <li>The Sites and certain Company email messages may use “cookies” and other technologies such as pixel tags and web beacons. These technologies help us to improve and to deliver the better and more personalized service:</li>
            <ul>
                <li>Estimate our audience size and usage patterns</li>
                <li>Store information about your preferences, allowing us to better customize the Sites according to your individual interests</li>
                <li>Speed up your searches and</li>
                <li>Recognize you when you return to any of the Sites.</li>
            </ul>
            <li>You may refuse to accept cookies by activating the appropriate settings on your browser. Check with your provider to find out how to disable cookies.</li>
            <li>Please note that certain features of the Sites may not be available if cookies are disabled.</li> 
            <li>Hotels treat information collected by cookies and other technologies as non-personal information.</li>
            <li>However, to the extent that Internet Protocol (IP) addresses or similar identifiers are considered personal information by local law, we treat these identifiers as personal information.</li>
            <li>Similarly, to the extent that non-personal information is combined with personal information, we treat the combined information as personal information for the purposes of this privacy statement.</li>

        </ul>
    </section>

    <section style="margin-top: 40px;">
        <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; width: auto">
            <h2 style="font-size: 1.8rem; margin: 0; color: white; font-family: 'boxicons';">ACCESSING YOUR PERSONAL INFORMATION</h2>
        </div>
        <ul style="font-size: 1rem; line-height: 1.6; margin-top: 20px;">
            <li>Hotels strive to maintain accurate, complete, and relevant personal information for the purposes identified in this privacy statement. We make good faith efforts to make available for your review of personal information and to process requests for modification of inaccurate personal information provided to us through any of the Sites.</li>
            <li>However, we may decline to process requests that are unreasonably repetitive, require disproportionate technical effort, jeopardize the privacy of others, and are extremely impractical, or for which access is not otherwise required by local law.</li>
            <li>Personal information that is provided considered likely to be available for review through the organization that made the booking and pursuant to that organization’s policies.</li>
            <li>Certain privileged booking rates or special offers are not eligible for cancellation, refund or any change. The Customer is therefore advised to check the room description and any such conditions carefully prior to making a booking. Hotel shall not be liable to cancel or refund any monies or alter any bookings if booking is made under such privileged booking rates or special offers.</li>
        </ul>
    </section>


    <!-- Add more sections as needed -->

</main>




      <!-- Remove the container if you want to extend the Footer to full width. -->
      <div class="container my-5">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: #3f51b5">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Links -->
            <section class="mt-5">
            <!-- Grid row-->
            <div class="row text-center d-flex justify-content-center pt-5">
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:contact_us' %}" class="text-white">Contact us</a>
                </h6>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:terms_and_conditions' %}" class="text-white">Terms & Conditions</a>
                </h6>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:shipping_policy' %}" class="text-white">Shipping Policy</a>
                </h6>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:privacy_policy' %}" class="text-white">Privacy Policy</a>
                </h6>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:cancel_refund' %}" class="text-white">Cancel Refund Policy</a>
                </h6>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row-->
            </section>
            <!-- Section: Links -->
    
            <hr class="my-5" />
    
            <!-- Section: Social -->
            <section class="text-center mb-5">
            <a href="" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-instagram"></i>
            </a>
            </section>
            <!-- Section: Social -->
        </div>
        <!-- Grid container -->
    
        </footer>
        <!-- Footer -->
    </div>
    <!-- End of .container -->

{% endblock %}
