{% extends "layouts/main_base.html" %}

{% block title %} Shipping Policy {% endblock %}

{% block content %}
    <main>
        <section>
            <h2>Domestic Shipping</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget aliquet nulla. Sed at mauris at sapien gravida tincidunt et id tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris interdum justo vel odio dignissim lacinia. Donec sagittis, neque eget sollicitudin lobortis, justo elit placerat tortor, eget molestie erat ligula vel est.</p>
        </section>

        <section>
            <h2>International Shipping</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget aliquet nulla. Sed at mauris at sapien gravida tincidunt et id tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris interdum justo vel odio dignissim lacinia. Donec sagittis, neque eget sollicitudin lobortis, justo elit placerat tortor, eget molestie erat ligula vel est.</p>
        </section>
    </main>

    <footer>
        <!-- Add your footer content here -->
        <p>&copy; 2024 Your Hotel. All rights reserved.</p>
    </footer>

{% endblock %}

