{% extends "layouts/main_base.html" %}

{% block title %} Shipping Policy {% endblock %}

{% block content %}
<main style="padding: 50px; font-family: Arial, sans-serif;">
    <section>
        <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; display: inline-block;">
            <h1 style="font-size: 2rem; margin: 0; color: white; font-family: 'boxicons';">SHIPPING & DELIVERY POLICY</h1>
        </div>
        <ul style="font-size: 1rem; line-height: 1.6; margin-top: 20px;">
            <li>For domestic buyers, orders are shipped through registered domestic courier companies and /or speed post only.</li>
            <li>Orders are shipped within 3-5 Days days or as per the delivery date agreed at the time of order confirmation and delivering of the shipment subject to Courier Company / post office norms.</li>
            <li>The hotel is not liable for any delay in delivery by the courier company / postal authorities and only guarantees to hand over the consignment to the courier company or postal authorities within 3-5 Days days from the date of the order and payment or as per the delivery date agreed at the time of order confirmation.</li>
            <li>Delivery of all orders will be to the address provided by the buyer.</li>
            <li>Delivery of our services will be confirmed on your mail ID as specified during registration.</li>
            <li>For any issues in utilizing our services you may contact our helpdesk {{email}}.</li>
        </ul>
    </section>


</main>
   

<!-- FOOTER -->
{% extends "includes/main_footer.html" %}




{% endblock %}

