{% extends "layouts/main_base.html" %}

{% block title %} Shipping Policy {% endblock %}

{% block content %}
<main style="padding: 50px; font-family: Arial, sans-serif;">
    <section>
        <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; display: inline-block;">
            <h1 style="font-size: 2rem; margin: 0; color: white; font-family: 'boxicons';">SHIPPING & DELIVERY POLICY</h1>
        </div>
        <ul style="font-size: 1rem; line-height: 1.6; margin-top: 20px;">
            <li>Our delivery staff will inspect the physical condition of the food package to make sure that it passes our safety and packaging standards.</li>
            <li>The food packages are sealed at the restaurant with tamper proof tapes.</li>
            <li>Our delivery staff, under no circumstance, opens the packages or inspects the contents of the sealed food product.</li>
            <li>Upon receipt of your food order, we recommend inspecting the package to ensure that the contents are correct and that the packaging is intact. If you have any concerns about the order or notice any issues with the packaging or food items, please contact our customer support immediately for assistance.</li>
            <li>Any problems with the food quality or the quantity, Customer can bring to our notice for any remediation as per applicable policy</li>
            <li>Delivery charges, if applicable, will be calculated based on the delivery distance and your location. The delivery charges will be displayed at the checkout before you make the payment. All delivery charges, if any, will be clearly mentioned at the checkout time and in the invoice. The customer is liable for all the applicable delivery charges, if there are any.</li>
            <li>ORDERING POLICY: Ordering through our website is very convenient. Our online website will display a wide variety of food items. Customers can order by simply adding products to the cart or make individual product transactions by clicking on ‘Order Online’ against each product.</li>
            <li>Once you place a food delivery order, our kitchen will begin preparing the food based on the items selected. The processing time for the food order may vary depending on the complexity of the menu items and the overall order volume at the time. Once the food is prepared, it will be handed over to our trusted delivery partners for transportation to your specified delivery address.</li>
            <li>SHIPPING POLICY: Shipping for all orders made through online within our website and all prices are in Indian Rupees inclusive of GST. After your order and payment confirmation, we will ship ordered food items within 60 to 90 minutes.</li>
            <li>DELIVERY TIME: Normally you will get the ordered food items within 60 to 90 minutes after the online order & payment. In some cases it may take longer time depending on your location and accessibility. For some cases we might take lesser time depending on relative distance of delivery location from our place</li>
            <li>In case of incorrect delivery address/contact number and a parcel is returned to us or undelivered because of that incorrect address we reserve the right to charge additional postage to cover the re-sending of your parcel to the correct address</li>
            <li>IN CASE OF DELAYS: Sometimes due to situations beyond our control, delays may occur. No refund, returns, replacement & exchange will be entertained for this reason</li>
            <li>In the rare event of non-delivery or a significant delay in delivery beyond the estimated timeline, please contact our customer support promptly. We will investigate the matter and take appropriate action to resolve the issue.</li>
        </ul>
    </section>

    <!-- <section style="margin-top: 40px;">
        <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; display: inline-block;">
            <h2 style="font-size: 1.8rem; margin: 0; color: white; font-family: 'boxicons';">PAYMENT TERMS POLICY</h2>
        </div>
        <ul style="font-size: 1rem; line-height: 1.6; margin-top: 20px;">
            <li>Payment can be made using the credit card, payment gateway link, deposit in the bank account or demand draft before the due date.</li>
            <li>Applicable Taxes – Taxes are as applicable at the time of reservation.</li>
            <li>In case of conflict in the actual bill provided to you after the receipt of services, the terms of the bill will prevail.</li>
            <li>Certain privileged booking rates or special offers are not eligible for cancellation, refund or any change. The Customer is therefore advised to check the room description and any such conditions carefully prior to making a booking. Hotel shall not be liable to cancel or refund any monies or alter any bookings if booking is made under such privileged booking rates or special offers.</li>
            <li>Children up-to 5 Years of age can stay free (cribs subject to availability). Additional charges may be applicable for children between 5 and 12 years. 13 years will be charged as per extra adult rate.</li>
            <li>It is mandatory for guests to present valid photo identification at the time of check-in. Such documents can be either an Indian Aadhaar Card, Indian Driver’s License, Indian Voter ID card or Indian or International passport. PAN cards are not accepted. Hotel reserves the right to refuse check-in in the absence of a valid identification document.</li>
        </ul>
    </section> -->
    <!-- Add more sections as needed -->

</main>



   


<!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="container my-5">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: #4154f1">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Links -->
            <section class="mt-5">
            <!-- Grid row-->
            <div class="row text-center d-flex justify-content-center pt-5">
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:contact_us' %}" class="text-white">Contact us</a>
                </h6>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:terms_and_conditions' %}" class="text-white">Terms & Conditions</a>
                </h6>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:shipping_policy' %}" class="text-white">Shipping Policy</a>
                </h6>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:privacy_policy' %}" class="text-white">Privacy Policy</a>
                </h6>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:cancel_refund' %}" class="text-white">Cancel Refund Policy</a>
                </h6>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row-->
            </section>
            <!-- Section: Links -->
    
            <hr class="my-5" />
    
            <!-- Section: Social -->
            <section class="text-center mb-5">
            <a href="" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-instagram"></i>
            </a>
            </section>
            <!-- Section: Social -->
        </div>
        <!-- Grid container -->
    
        </footer>
        <!-- Footer -->
    </div>
    <!-- End of .container -->

{% endblock %}

