{% extends "layouts/main_base.html" %}

{% block title %} Terms and Conditions {% endblock %}

{% block content %}
<main style="padding: 50px; font-family: Arial, sans-serif;">
    <section>
        <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; display: inline-block;">
            <h1 style="font-size: 2rem; margin: 0; color: white; font-family: 'boxicons';">TERMS OF SERVICE</h1>
        </div>
        <ul style="font-size: 1rem; line-height: 1.6; margin-top: 20px;">
            <p>By visiting our site and/ or purchasing something from us, you engage in our ìServiceî and agree to be bound by the following terms and conditions (ìTerms of Serviceî, ìTermsî), including those additional terms and conditions and policies referenced herein and/or available by hyperlink. These Terms of Service apply to all users of the site, including without limitation users who are browsers, vendors, customers, merchants, and/ or contributors of content.</p>
            <p>Please read these Terms of Service carefully before accessing or using our website. By accessing or using any part of the site, you agree to be bound by these Terms of Service. If you do not agree to all the terms and conditions of this agreement, then you may not access the website or use any Services. If these Terms of Service are considered an offer, acceptance is expressly limited to these Terms of Service.</p>
            <p>Any new features or tools which are added to the current store shall also be subject to the Terms of Service. You can review the most current version of the Terms of Service at any time on this page. We reserve the right to update, change or replace any part of these Terms of Service by posting updates and/or changes to our website. It is your responsibility to check this page periodically for changes. Your continued use of or access to the website following the posting of any changes constitutes acceptance of those changes.</p>
        </ul>
    </section>

    <section style="margin-top: 40px;">
        <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; display: inline-block;">
            <h2 style="font-size: 1.8rem; margin: 0; color: white; font-family: 'boxicons';">SECTION 1 - ONLINE STORE TERMS</h2>
        </div>
        <ul style="font-size: 1rem; line-height: 1.6; margin-top: 20px;">
            <p>By agreeing to these Terms of Service, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.</p>
            <p>You may not use our products for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).
                You must not transmit any worms or viruses or any code of a destructive nature.
                A breach or violation of any of the Terms will result in an immediate termination of your Services.</p>
        </ul>
    </section>

    <section style="margin-top: 40px;">
        <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; display: inline-block;">
            <h2 style="font-size: 1.8rem; margin: 0; color: white; font-family: 'boxicons';">SECTION 2 - GENERAL CONDITIONS</h2>
        </div>
        <ul style="font-size: 1rem; line-height: 1.6; margin-top: 20px;">
            <p>We reserve the right to refuse Service to anyone for any reason at any time. </p>
            <li>You understand that your content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. Credit card information is always encrypted during transfer over networks.</li>
            <li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service or any contact on the website through which the Service is provided, without express written permission by us.</li>
            <li>The headings used in this agreement are included for convenience only and will not limit or otherwise affect these Terms.</li>

            
            <!-- Add more terms and conditions as needed -->
        </ul>
    </section>

    <!-- Add more sections as needed -->

</main>




      <!-- Remove the container if you want to extend the Footer to full width. -->
      <div class="container my-5">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: #4154f1">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Links -->
            <section class="mt-5">
            <!-- Grid row-->
            <div class="row text-center d-flex justify-content-center pt-5">
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:contact_us' %}" class="text-white">Contact us</a>
                </h6>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:terms_and_conditions' %}" class="text-white">Terms & Conditions</a>
                </h6>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:shipping_policy' %}" class="text-white">Shipping Policy</a>
                </h6>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:privacy_policy' %}" class="text-white">Privacy Policy</a>
                </h6>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'stores:cancel_refund' %}" class="text-white">Cancel Refund Policy</a>
                </h6>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row-->
            </section>
            <!-- Section: Links -->
    
            <hr class="my-5" />
    
            <!-- Section: Social -->
            <section class="text-center mb-5">
            <a href="" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-instagram"></i>
            </a>
            </section>
            <!-- Section: Social -->
        </div>
        <!-- Grid container -->
    
        </footer>
        <!-- Footer -->
    </div>
    <!-- End of .container -->

{% endblock %}
