{% extends "layouts/main_base.html" %}

{% block title %} Terms and Conditions {% endblock %}

{% block content %}
<main style="padding: 50px; font-family: Arial, sans-serif;">
    
    <!-- main title and content -->
    <section>
        <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; display: inline-block;">
            <h1 style="font-size: 2rem; margin: 0; color: white; font-family: 'boxicons';">{{main_title}}</h1>
        </div>
        <ul style="font-size: 1rem; line-height: 1.6; margin-top: 20px;">
            <p>{{main_content}}</p>
        </ul>
    </section>

    <!-- sub heading and content for sections -->
    {% for sub in sub_terms %}
    <section style="margin-top: 40px;">
        <div style="background-color: #4154f1; padding: 10px 20px; border-radius: 5px; display: inline-block;">
            <h2 style="font-size: 1.8rem; margin: 0; color: white; font-family: 'boxicons';">{{sub.sub_title}}</h2>
        </div>
        <ul style="font-size: 1rem; line-height: 1.6; margin-top: 20px;">
            <p>{{sub.sub_content}}</p>
        </ul>
    </section>
    {% endfor %}

</main>



<!-- FOOTER -->
{% include "includes/main_footer.html" %}



{% endblock %}
