{% extends "layouts/base.html" %} {% block title %} PBX Server List {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<main id="main" class="main">
    <div class="pagetitle">
        <div class="text-right" style="text-align: right;">
            <a href="/dashboard/configuration/pbx/add/" type="button" class="btn btn-outline-primary">Add New PBX</a>
        </div>
    </div>
    <!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <!--<?php
          $success_alert = $this->session->flashdata('success');
          if (!empty($success_alert)) {
            echo '<div class="alert alert-success" role="alert">' . $success_alert . '</div>';
          }
          $error_alert = $this->session->flashdata('error');
          if (!empty($error_alert)) {
            echo '<div class="alert alert-danger" role="alert">' . $error_alert . '</div>';
          }
          ?>-->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">PBX Server List</h5>
                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Domain/IP Address</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for pbx in object_list%}
                                <tr>
                                    <td class="row">{{pbx.id}}</td>
                                    <td>{{pbx.pbx_name}}</td>
                                    <td>{{pbx.pbx_domain}}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          Actions
                                        </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="/dashboard/configuration/pbx/update/{{pbx.id}}/" class="dropdown-item" type="button">Update</a></li>
                                                <li><a href="#" class="dropdown-item delete-pbx" id="{{pbx.id}}" type="button">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->
{% endblock content %} {% block javascripts %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $(".delete-pbx").click(function(e) {
            const pbxId = $(this).attr("id");
            const token = "{{csrf_token}}"
            $.ajax({
                headers: {
                    "X-CSRFToken": token
                },
                url: "/dashboard/configuration/pbx/delete/" + pbxId + "/",
                type: "DELETE",
                success: function(response) {
                    console.log("Response", response);
                    //$("#item-" + itemId).remove();
                    window.location.reload();
                },
                error: function(xhr, status, error) {
                    // Handle the error case
                    console.log(error);
                    alert(error);
                }
            });
        });

    });
</script>
{% endblock javascripts %}