{% extends "layouts/base.html" %} {% block title %} Add New Extension {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
    .form-label::after {
        content: ' *';
        color: rgb(220 53 70);
    }
</style>

{% endblock stylesheets %} {% block content %}

<main id="main" class="main">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Create New User</h5>
            <div class="mb-3">
                <label for="new_client_email" class="form-label"  required>Email address</label>
                <input type="email" class="form-control" id="new_client_email">
            </div>
            <div class="mb-3">
                <label for="new_client_username" class="form-label"  required>Username</label>
                <input type="text" class="form-control" id="new_client_username">
            </div>
            <div class="mb-3">
                <label for="new_client_username" class="form-label"  required>Name</label>
                <input type="text" class="form-control" id="new_client_name">
            </div>
            <div class="mb-3">
                <label for="new_client_pass" class="form-label"  required>Password</label>
                <input type="password" class="form-control" id="new_client_pass">
            </div>
            <div class="mb-3">
                <label for="confirm_pass" class="form-label"  required>Confirm Password</label>
                <input type="password" class="form-control" id="confirm_pass">
            </div>            
            <div class="mb-3">
                <label for="address" class="form-label"  required>Address</label>
                <input type="text" class="form-control" id="address">
            </div>
            <div class="mb-3">
                <label for="phone_no" class="form-label"  required>Phone Number</label>
                <input type="tel" class="form-control" id="phone_no">
            </div>
            <div class="mb-3">
                <label class="form-label"  required>Business Type</label>
                <select class="form-control" id="business_type">
                    <option value="" disabled selected>Select business type</option>
                    <option value="food">Food</option>
                    <option value="non-food">Non-Food</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="tele_channel" class="form-label"  required>Telegram Channel Name</label>
                <input type="text" class="form-control" id="tele_channel">
            </div>
            <div class="mb-3">
                <label for="bot_token" class="form-label"  required>Telegram Bot Token</label>
                <input type="text" class="form-control" id="bot_token">
            </div>
            <button type="submit" class="btn btn-primary" onclick="newClient()">Submit</button>
        </div>
    </div>
    <hr>
    <!-- <div class="card">
        <div class="card-body">
            <h5 class="card-title">Change Client Password</h5>
            <div class="mb-3">
                <label for="client_email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="client_email">
              </div>
              <div class="mb-3">
                <label for="client_pass" class="form-label">Password</label>
                <input type="password" class="form-control" id="client_pass">
              </div>
              <button type="submit" class="btn btn-primary" onclick="submitForm();">Submit</button>
        </div>
    </div> -->
</main>
<!-- End #main -->
{% endblock content %}

{% block javascripts %}
<script>
    function submitForm() {
        // Get values from input fields
        var email = document.getElementById('client_email').value.trim();
        var password = document.getElementById('client_pass').value.trim();

        // Create an object with the data
        var data = {
            email: email,
            password: password
        };

        // Make a fetch request to your server
        fetch('/dashboard/set/client/password', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{csrf_token}}'
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === true) {
                alert('Password changed successfully.');
            } else {
                alert('Password not changed.');
            }
            alert('Password changed successfully.');
            window.location.reload();
            // Handle success response from the server
        })
        .catch((error) => {
            alert('Password not changed.');
            window.location.reload();
            // Handle error
        });
    }

    function newClient() {
        // Get values from input fields
        var email = document.getElementById('new_client_email').value.trim();
        var username = document.getElementById('new_client_username').value.trim();
        var name = document.getElementById('new_client_name').value.trim();
        var password = document.getElementById('new_client_pass').value.trim();
        var confirmPassword = document.getElementById('confirm_pass').value.trim();
        var teleChannel = document.getElementById('tele_channel').value.trim();
        var botToken = document.getElementById('bot_token').value.trim();
        var address = document.getElementById('address').value.trim();
        var phone = document.getElementById('phone_no').value.trim();
        var business_type = document.getElementById('business_type').value.trim();
        
        // Check if password and confirm password match
        if (password !== confirmPassword) {
            alert('Passwords do not match. Please try again.');
            return;
        }
        
        // Create an object with the data
        var data = {
            email: email,
            username: username,
            name: name,
            teleChannel: teleChannel,
            botToken:botToken,
            password: password,
            confirm_password: confirmPassword,
            address: address,
            phone: phone,
            businessType: business_type
        };

        // Make a fetch request to your server
        fetch('/dashboard/register/new/client', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{csrf_token}}'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === true) {
                alert('New user created successfully.');
            } else {
                alert('New user could not be created: ' + (data.message || 'Unknown error'));
            }
            window.location.reload();
            // Handle success response from the server
        })
        .catch((error) => {
            alert('New user could not be created. Please try again.');
            // Handle error
            window.location.reload();
        });
    }



</script>


{% endblock javascripts %}