{% extends "layouts/base.html" %} {% block title %} Add New Extension {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<main id="main" class="main">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">PhonePe Configuration</h5>
            <div class="mb-3">
                <label for="phonepe_merchant_id" class="form-label">PhonePe Merchant ID</label>
                <input type="text" class="form-control" id="phonepe_merchant_id">
              </div>
              <div class="mb-3">
                <label for="phonepe_api_key" class="form-label">PhonePe API Key</label>
                <input type="text" class="form-control" id="phonepe_api_key">
              </div>
              <button type="submit" class="btn btn-primary" onclick="createPhonePeConfigurations();">Submit</button>
        </div>
    </div>
</main>
<!-- End #main -->
{% endblock content %}

{% block javascripts %}
<script>
    function createPhonePeConfigurations() {
        // Get values from input fields
        var phonepe_merchant_id = document.getElementById('phonepe_merchant_id').value.trim();
        var phonepe_api_key = document.getElementById('phonepe_api_key').value.trim();
        // Create an object with the data
        var data = {
            phonepe_merchant_id: phonepe_merchant_id,
            phonepe_api_key: phonepe_api_key
        };

        // Make a fetch request to your server
        fetch('/dashboard/save/payment_gateway/configuration', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{csrf_token}}'
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === true) {
                alert('Payment gateway configuration saved successfully.');
            }
            else if (Object.keys(data).length === 0) {
                alert('PhonePe credentials are required. Please enter them.');
            } else {
                alert('Payment gateway configuration not saved.');
            }
            window.location.reload();
        })
        .catch((error) => {
            alert('Payment gateway configuration not saved.');
            window.location.reload();
        });
    }

</script>

{% endblock javascripts %}