<!-- ======= Header ======= -->
<link rel="stylesheet" href="/static/css/dashboard/header.css">
<link rel="stylesheet" type="text/css" href="/static/css/includes/menu.css" />
<!-- google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">


<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="align-items-center justify-content-between">
        <div style="display: flex;">
            <i class="bi bi-list toggle-sidebar-btn"></i>
            <a href="/dashboard/" class="logo d-flex align-items-center">
                <!-- <img src="/media/img/logo.png" alt=""> -->
                <span class="d-lg-block menu-title" style="padding: 0px 0px 15px;">{{request.user.name}}</span>
            </a>
        </div>
    </div>
    <!-- End Logo -->

    <!-- change password modal -->

    <nav class="header-nav ms-auto" style="padding-right: 25px;">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="width: 20px; height: 20px;">
                        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/>
                    </svg>
                    <!-- <i class="bi bi-fa-solid fa-user"></i> -->
                    <!-- <i class="bi bi-emoji-smile-fill rounded-circle"></i> -->
                    <!-- <span class="d-none d-md-block dropdown-toggle ps-2">{{ request.user.name }}</span> -->
                </a>
                <!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>
                            {{ request.user.name }}
                        </h6>
                        <!-- <span>{{ request.user.username }}</span> -->
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#" onclick="javascript:generate_outdoor_qr(this);" data-url="{{ request.scheme }}://{{ request.get_host }}/store/{{outdoor_token}}/products/outdoor_items/">
                            <i class="bi bi-eye"></i>
                            <span>View MyQR</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
                            <i class="bi bi-key"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/logout/">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>LogOut</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-primary notification-icon-btn position-relative">
                    <i class="bi bi-bell-fill"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      {{notification_count}}+
                      <span class="visually-hidden">unread messages</span>
                    </span>
                  </button>
            </li>
        </ul>
    </nav>
    <div class="notification-box card">
        <button class="btn-close clear-notifications" aria-label="Close"></button>
        <ul>
            {%for notification in notifications%}
            <li>
                <a href="#" class="notification-item" data-id="{{ notification.id }}">
                    {{notification.title}}
                </a>
            </li>
            {%endfor%}
        </ul>
    </div>
</header>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="/static/vendor/qrcodejs/qrcode.js"></script>

<!-- audio file for notification-->
<audio id="notification-sound" src="/static/loud-buzzer.mp3" preload="auto"></audio>

<script>
    $(document).ready(function() {
        $(".notification-icon-btn").click(function() {
            $(".notification-box").toggleClass("active");
        });
    });

    // Close the notification box when clicking outside of it
    $(document).click(function(event) {
        if (!$(event.target).closest('.notification-box').length && !$(event.target).closest('.notification-icon-btn').length) {
            $(".notification-box").removeClass("active");
        }
    });


    // clearing all the notifications
    $(".clear-notifications").click(function() {
        $.ajax({
            type: "POST",
            url: "/dashboard/notifications/clear_all/",
            headers: {
                "X-CSRFToken": $("input[name='csrfmiddlewaretoken']").val()
            },
            success: function(response) {
                // remove notifications from the list
                $(".notification-box").removeClass("active");
                $(".notification-box ul").empty(); // Clear the list of notifications

                // Update notification count to 0
                $(".notification-icon-btn .badge").text("0");
            },
            error: function(error) {
                console.error("Error clearing notifications:", error);
            }
        });
    });


    let audio_play_track = false

    function playaudio() {
        let sound = document.getElementById("notification-sound");
        setInterval(() => {
            sound.play()
        }, 2500)
    }

    let previousCount = 0;

    // fetching real time notifications
    function fetchNotifications() {
        $.ajax({
            type: "GET",
            url: "/dashboard/notifications/get/",
            success: function(response) {
                // Update notification count
                const newCount = response.notification_count;

                if (newCount > previousCount) {
                    playaudio()
                }

                $(".notification-icon-btn .badge").text(newCount > 0 ? newCount : '').toggle(newCount > 0);
                
                // Update notifications in the dropdown
                const notificationList = $(".notification-box ul");
                notificationList.empty(); // Clear current notifications
                
                response.notifications.forEach(notification => {
                    notificationList.append(`
                        <li>
                            <a href="#" class="notification-item" data-id="${notification.id}">
                                ${notification.title}
                            </a>
                        </li>
                    `);
                });
                
                previousCount = newCount;
            },
            complete: function() {
                // Schedule the next request
                setTimeout(fetchNotifications, 5000); // Check every 5 seconds
            }
        });
    }

    // Handle notification click
    $(document).on("click", ".notification-item", function(e) {
        e.preventDefault(); // Prevent the default link behavior
        const notificationId = $(this).data("id");

        document.getElementById("notification-sound").pause();
        document.getElementById("notification-sound").currentTime = 0;
        
        // AJAX call to mark notification as read
        $.ajax({
            type: "POST",
            url: `/dashboard/notifications/mark_as_read/${notificationId}/`,
            headers: {
                "X-CSRFToken": $("input[name='csrfmiddlewaretoken']").val()
            },
            success: function(response) {
                // Redirect the user after successfully marking the notification
                if (response.status === "success") {
                    window.location.href = "/dashboard/foors/orders/";
                }
            },
            error: function(error) {
                console.error("Error marking notification as read:", error);
            }
        });
    });

    $(document).ready(function() {
        fetchNotifications(); // Start fetching notifications on page load
    });



    
    // change password button
    $(document).ready(function() {
        $("#change_password_submit").click(function() {
            // Get the values of new_password and confirm_password
            const token = $(this).attr("token");
            const newPassword = $("#new_password").val();
            const confirmPassword = $("#confirm_password").val();

            if (newPassword === "" || confirmPassword === "") {
                alert('Both fields are required');
                return;
            }
            // Check if new_password and confirm_password are the same
            if (newPassword !== confirmPassword) {
                alert("Both password does not match.");
                return; // Exit the function if passwords do not match
            }
            // If passwords match, proceed with the AJAX post request
            $.ajax({
                headers: {
                    "X-CSRFToken": token
                },
                type: "POST",
                url: "/dashboard/user/change_password/",
                data: {
                    password: newPassword
                },
                dataType: 'json',
                success: function(response) {
                    // Handle the success response from the server
                    alert('your password changed successfully.');
                    window.location.reload();
                },
                error: function(error) {
                    // Handle the error response from the server
                    alert('your password not changed.');
                }
            });
        });
    });

    
    
    // generate outdoor QR code
    const generate_outdoor_qr = (e) => {
        document.getElementById("outdoor_qrcode").innerHTML = "";
        const outdoorqrcode = new QRCode(document.getElementById("outdoor_qrcode"), {
            text: e.dataset.url,
            width: 256,
            height: 256,
            colorDark: "#0d6efd",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        });
        document.getElementById("outdoorqrCodeOpener").click();
        setTimeout(() => {
            let qelem = document.querySelector('#outdoor_qrcode img');
            let dlink = document.querySelector('#outdoorqrdl');
            let qr = qelem.getAttribute('src');
            dlink.setAttribute('href', qr);
            dlink.setAttribute('download', 'outdoor_qrcode.png');
        }, 500);
    }
</script>