.main-section {
    position: relative;
    margin: 35px 0px;
    display: flex;
    justify-content: center;
}

.complain-box {
    max-width: 950px;
    width: 950px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(231, 233, 255, 0.92);
    padding: 20px;
}

.complain-box h2 {
    margin: 0px;
    margin-bottom: 25px;
}

#id_report {
    height: 180px;
}