 {% extends "layouts/base.html" %} {% block title %} Foods Categories List {% endblock %} {% block stylesheets %}{% endblock stylesheets %} {% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <div class="text-right" style="text-align: right;">
            <a href="/dashboard/foods/category/add/" type="button" class="btn btn-outline-primary">Add New Category</a>
        </div>
    </div>
    <!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Food Categories List</h5>
                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for category in object_list%}
                                <tr>
                                    <td class="row">{{category.id}}</td>
                                    <td>{{category.name}}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                              Actions
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="/dashboard/foods/category/update/{{category.id}}/" class="dropdown-item" type="button">Update</a></li>
                                                <li><a href="#" class="dropdown-item delete-category" id="{{category.id}}" type="button">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->
{% endblock content %} {% block javascripts %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $(".delete-category").click(function(e) {
            const categoryId = $(this).attr("id");
            const token = "{{csrf_token}}"
            $.ajax({
                headers: {
                    "X-CSRFToken": token
                },
                url: "/dashboard/foods/category/delete/" + categoryId + "/",
                type: "DELETE",
                success: function(response) {
                    console.log("Response", response);
                    window.location.reload();
                },
                error: function(xhr, status, error) {
                    // Handle the error case
                    console.log(error);
                    alert(error);
                }
            });
        });

    });
</script>
{% endblock javascripts %}