#header {
    justify-content: space-between;
    padding: 0px 20px;
}

.search-box {
    display: flex;
    background: #f6f9ff;
    padding: 8px 15px;
    border-radius: 30px;
    width: 350px;
    column-gap: 8px;
}

.search-box i {
    font-size: 18px;
}

.search-box .search-text {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}

.dropdown-toggle::after {
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
}

.dropdown-item {
    padding: 12px 35px !important;
}

nav .menu-list {
    list-style: none;
    column-gap: 30px;
    margin: 0px;
}

nav .menu-list li a {
    color: black;
}

nav .menu-list li a:active,
nav .menu-list li a:hover {
    color: #4154f1;
}

nav .menu-list li a.active,
nav .menu-list li a svg.active {
    color: #4154f1;
    fill: #4154f1;
}

nav .menu-list li a i,
nav .menu-list li a svg {
    display: none;
}

nav .menu-list li.cart-icon {
    position: relative;
    cursor: pointer;
}

nav .menu-list li.cart-icon i {
    display: block;
    font-size: 28px;
}

nav .menu-list li.cart-icon span {
    background: #4154f1;
    color: white;
    font-size: 12px;
    padding: 0px 5px;
    border-radius: 100%;
    position: absolute;
    bottom: 0px;
    left: 10px;
}

@media only screen and (max-width: 800px) {
    .menu-first-part {
        column-gap: 20px;
    }
    /* .menu-first-part .menu-title {
        display: block !important;
    } */
    nav .menu-list li a span {
        display: block;
        color: white;
        text-transform: capitalize;
    }
    nav .menu-list li a i,
    nav .menu-list li a svg {
        display: block;
        font-size: 25px;
        text-transform: capitalize;
        color: white;
    }
    nav .menu-list {
        position: fixed;
        bottom: 0px;
        left: 0px;
        padding: 0px;
        width: 100%;
        height: 65px;
        background: #4154f1;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        justify-content: space-around;
    }
    nav .cart-list {
        position: absolute;
        width: 10%;
        right: 0px;
        float: right;
        left: auto;
        box-shadow: none;
    }
    /* .back-to-top {
        display: none !important;
    }
    .back-to-down {
        display: none !important;
    } */
}

@media only screen and (max-width: 550px) {
    .search-box {
        width: 300px;
    }
}

@media only screen and (max-width: 500px) {
    .menu-first-part {
        width: 100%;
        justify-content: unset !important;
    }
    .menu-first-part .menu-title {
        display: none !important;
    }
}

@media only screen and (max-width: 420px) {
    .search-box {
        width: 250px;
    }
}