/* Categories CSS */

.categories {
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: center;
    list-style: none;
    column-gap: 20px;
    padding: 0px 20px;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
    overflow-x: auto; /* Allows horizontal scrolling */
}

.categories::-webkit-scrollbar {
    display: none; /* Hides scrollbar */
}

.categories li {
    background: #ffffff;
    white-space: nowrap;
    padding: 8px 30px;
    border-radius: 8px;
}

.categories li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 18px;
}

.categories li:hover,
.categories li:active {
    background: #4154f1;
}

.categories li:hover a,
.categories li:active a {
    color: #ffffff;
}

.categories li.active {
    background: #4154f1;
}

.categories li.active a {
    color: #ffffff;
}

/* Search box specific styles */
.search-box-item {
    flex-shrink: 0; /* Prevents the search box from shrinking */
}

.search-box {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-box i {
    font-size: 18px;
    color: #012970;
    margin-right: 8px;
}

.search-text {
    border: none;
    outline: none;
    font-size: 15px;
    color: #012970;
    background: transparent;
    padding: 5px;
}

@media only screen and (max-width: 930px) {
    .categories {
        margin-top: 5px;
    }
    .categories li {
        padding: 10px 20px;
    }
    .categories li a {
        font-size: 15px;
    }
}

@media only screen and (max-width: 650px) {
    .categories {
        padding: 15px 15px;
    }
}

@media only screen and (max-width: 570px) {
    .categories {
        padding: 15px 15px;
    }
}

@media only screen and (max-width: 550px) {
    .categories {
        padding: 0px 5px;
    }
}
