/* Categories CSS */

.categories {
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: center;
    list-style: none;
    column-gap: 20px;
    padding: 15px 20px;
    margin: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
    overflow-x: scroll;
}

.categories::-webkit-scrollbar {
    display: none;
}

.categories li {
    background: #ffffff;
    white-space: nowrap;
    padding: 8px 30px;
    border-radius: 8px;
}

.categories li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 18px;
}

.categories li:hover,
.categories li:active {
    background: #4154f1;
}

.categories li:hover a,
.categories li:active a {
    color: #ffffff;
}

.categories li.active {
    background: #4154f1;
}

.categories li.active a {
    color: #ffffff;
}

@media only screen and (max-width: 930px) {
    .categories {
        margin-top: 5px;
    }
    .categories li {
        padding: 10px 20px;
    }
    .categories li a {
        font-size: 15px;
    }
}

@media only screen and (max-width: 650px) {
    .categories {
        padding: 15px 15px;
    }
}

@media only screen and (max-width: 570px) {
    .categories {
        padding: 15px 15px;
    }
}

@media only screen and (max-width: 550px) {
    .categories {
        padding: 15px 5px
    }
}