/* Categories CSS */
.categories {
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: center;
    list-style: none;
    column-gap: 20px;
    padding: 0px 20px;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
    overflow-x: auto; /* Allows horizontal scrolling */
}

.categories::-webkit-scrollbar {
    display: none; /* Hides scrollbar */
}

.categories li {
    background: #ffffff;
    white-space: nowrap;
    padding: 8px 15px;
    border-radius: 8px;
    box-shadow: 0 5px 9px -1px #4154f1;
    /* box-shadow: 0 7px 9px -2px black; */
}

.categories li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: "Playfair Display", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic; 
    color: black;
    font-size: 18px;
}

.categories li:hover,
.categories li:active {
    background: #4154f1;
}

.categories li:hover a,
.categories li:active a {
    color: #ffffff;
}

.categories li.active {
    background: #4154f1;
}

.categories li.active a {
    color: #ffffff;
}

/* Search box specific styles */
.search-box-item {
    flex-shrink: 0; /* Prevents the search box from shrinking */
}

.search-box {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 30px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
    width: 40px; /* Collapsed width */
    overflow: hidden;
}


.search-box.expanded {
    width: 280px; /* Expanded width */
}

.search-box i {
    font-size: 18px;
    color: #012970;
    margin-right: 8px;
    cursor: pointer;
}

.search-text {
    border: none;
    outline: none;
    font-size: 15px;
    color: #012970;
    background: transparent;
    padding: 5px;
    width: 100%;
}


/* Search box autocomplete styles */
/* #suggestions {
    display: block;
    position: absolute;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    width: 100%;
    top: 100%;
    left: 0;
  }

  
#suggestions div {
    padding: 10px;
    cursor: pointer;
    }

#suggestions div:hover {
    background-color: #f0f0f0;
    } */





@media only screen and (max-width: 930px) {
    .categories {
        margin-top: 5px;
    }
    .categories li {
        padding: 10px 20px;
    }
    .categories li a {
        font-size: 15px;
    }
}

@media only screen and (max-width: 650px) {
    .categories {
        padding: 15px 15px;
    }
}

@media only screen and (max-width: 570px) {
    .categories {
        padding: 15px 15px;
    }
}

@media only screen and (max-width: 550px) {
    .categories {
        padding: 0px 5px;
    }
}
