.main-section {
  position: relative;
  margin-top: 0px;
}

.main-section .category {
  padding: 0px 20px;
  margin-top: 15px;
}

.products {
  position: relative;
  margin: 15px 20px;
  margin-bottom: 50px;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-flow: wrap;
  column-gap: 25px;
  grid-row-gap: 30px;
}

.products .product {
  position: relative;
  width: 240px;
  height: 340px;
  max-width: 285px;
  max-height: 380px;
  margin-top: 0px;
  break-inside: avoid;
  border-radius: 8px;
  top: 0px;
  left: 0px;
  background: #ffffff;
  overflow: hidden;
}

.product .select-product {
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.products .product .image {
  position: relative;
  width: 100%;
  height: 70%;
  object-fit: cover;
  flex-shrink: 0;
}

.products .product .image img {
  width: 100%;
  height: 100%;
}

.products .product:hover {
  position: relative;
  box-shadow: 5px 15px 15px #e5e7e9;
}

.products .product .content {
  position: relative;
  width: 100%;
  height: 30%;
  text-align: center;
  overflow: hidden;
  padding: 10px;
}

.products .product .content .product_name {
  text-align: left;
  overflow: hidden;
  height: 60%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.products .product .content .product_price {
  text-align: left;
  flex-grow: 1;
  margin: 5px 0px !important;
  color: #726c6c;
}

.products .product .content p {
  margin: 0px;
  padding: 1px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  flex-grow: 1;
  text-transform: capitalize;
}

.products .product .cart-view {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  background: black;
  color: white;
  border-radius: 100%;
  padding: 6px 11px;
  z-index: 15;
}

.products .product .cart-view i {
  font-size: 20px;
}

.products .product .cart-view:hover,
.products .product .cart-view:active {
  background: #4154f1;
}

.products .product .content .item_type {
  border-radius: 50%;
  display: inline-block;
}

.products .product .content .item_type.Veg {
  height: 12px;
  width: 12px;
  background-color: #39b039;
}

.products .product .content .item_type.Non {
  height: 12px;
  width: 12px;
  background-color: #ff2323;
}

@media (max-width: 1250px) {
  .products {
    column-gap: 20px;
  }
}

@media (max-width: 650px) {
  .products {
    column-gap: 10px;
    grid-row-gap: 20px;
    margin: 15px 15px;
  }
}

@media (max-width: 610px) {
  .products .product {
    width: 230px;
    height: 280px;
  }
  .products .product .image {
    height: 73%;
  }
  .products .product .content {
    height: 27%;
  }
  .products .product .content .product_name {
    height: auto;
    -webkit-line-clamp: 1;
  }
  .products .product .content .product_price {
    margin: 2px 0px !important;
  }
}

@media (max-width: 570px) {
  .main-section .category {
    padding: 0px 8px;
  }
  .products {
    margin: 0px 15px;
  }
  .products .product {
    width: 48%;
    height: 270px;
  }
}

@media (max-width: 550px) {
  .products {
    margin: 0px 8px;
    margin-bottom: 50px;
  }
}

@media (max-width: 450px) {
  .products .product {
    height: 255px;
  }
  .products .product .cart-view {
    position: absolute;
    bottom: 2px;
    right: 2px;
    padding: 4.5px 9px;
  }

  .products .product .cart-view i {
    font-size: 15px;
  }
}
